﻿
    <div class="div1 sentr">
        <p class="h1">Результат расчёта</p>

        <label class="labelOutput">Тепловой поток, передаваемый через стенку в окружающую среду<br />Q = @Math.Round(@ViewBag.Data.Q, 1), Вт/м2</label>
        <br />
        <label class="labelOutput">Тепловой поток, передаваемый через стенку теплопроводностью<br />Qt = @Math.Round(@ViewBag.Data.Qt, 1), Вт/м2</label>
        <br />
        <label class="labelOutput">Тепловой поток, отдаваемый наружной поверхностью стенки в окружающую среду<br />Qk = @Math.Round(@ViewBag.Data.Qk, 1), Вт/м2</label>
        <br />

        <table>
            <tr><th colspan="4" class="h3">Информация о слоях</th></tr>
            <tr>
                <th>Номер слоя</th>
                <th>Материал</th>
                <th>Толщина слоя</th>
                <th>Коэфф-т теплопроводности</th>
            </tr>
            <tr>
                <td>1</td>

                <td>@ViewBag.Data.Mat_1</td>

                <td>@ViewBag.Input.thickness1</td>
                <td> @Math.Round(@ViewBag.Data.Jl1, 3)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>@ViewBag.Data.Mat_2</td>
                <td>@ViewBag.Input.thickness2</td>
                <td> @Math.Round(@ViewBag.Data.Jl2, 3)</td>
            </tr>
            @if (@ViewBag.Input.layer >= 3)
            {
                <tr>
                    <td>3</td>
                    <td>@ViewBag.Data.Mat_3</td>
                    <td>@ViewBag.Input.thickness3</td>
                    <td> @Math.Round(@ViewBag.Data.Jl3, 3)</td>
                </tr>
            }
            @if (@ViewBag.Input.layer >= 4)
            {
                <tr>
                    <td>4</td>
                    <td>@ViewBag.Data.Mat_4</td>
                    <td>@ViewBag.Input.thickness4</td>
                    <td> @Math.Round(@ViewBag.Data.Jl4, 3)</td>
                </tr>
            }
            @if (@ViewBag.Input.layer >= 5)
            {
                <tr>
                    <td>5</td>
                    <td>@ViewBag.Data.Mat_5</td>
                    <td>@ViewBag.Input.thickness5</td>
                    <td> @Math.Round(@ViewBag.Data.Jl5, 3)</td>
                </tr>
            }
        </table>

        <table>
            <tr><th colspan="2" class="h3">Распределение температур внутри стенки</th></tr>

            <tr>
                <th>Границы</th>
                <th>Температура</th>
            </tr>
            <tr>
                <td>Граница 0</td>
                <td>@ViewBag.Data.T0</td>
            </tr>
            <tr>
                <td>Граница 1</td>
                <td>@Math.Round(@ViewBag.Data.T1, 2)</td>
            </tr>
            <tr>
                <td>Граница 2</td>
                <td>@Math.Round(@ViewBag.Data.T2, 2)</td>
            </tr>
            @if (@ViewBag.Input.layer >= 3)
            {
                <tr>
                    <td>Граница 3</td>
                    <td>@Math.Round(@ViewBag.Data.T3, 2)</td>
                </tr>
            }
            @if (@ViewBag.Input.layer >= 4)
            {
                <tr>
                    <td>Граница 4</td>
                    <td>@Math.Round(@ViewBag.Data.T4, 2)</td>
                </tr>
            }
            @if (@ViewBag.Input.layer >= 5)
            {
                <tr>
                    <td>Граница 5</td>
                    <td>@Math.Round(@ViewBag.Data.T5, 2)</td>
                </tr>
            }
        </table>
        <canvas id="myChart" width="400" height="400"></canvas>

    </div>

    <script>


        var label3 = ["Граница 0", "Граница 1", "Граница 2"];
        //, "2 слой", "3 слой"
        var data1 = [@Math.Round(@ViewBag.Data.T0, 0), @Math.Round(@ViewBag.Data.T1, 0), @Math.Round(@ViewBag.Data.T2, 0)];


        if (@ViewBag.Input.layer >= 3)
        {
            label3.push("Граница 3");
            data1.push(@Math.Round(@ViewBag.Data.T3, 0));
        }
        if (@ViewBag.Input.layer >= 4)
        {
            label3.push("Граница 4");
            data1.push(@Math.Round(@ViewBag.Data.T4, 0));
        }
        if (@ViewBag.Input.layer >= 5)
        {
            label3.push("Граница 5");
            data1.push(@Math.Round(@ViewBag.Data.T5, 0));
        }

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
    type: 'line',
    data: {
            labels: label3,
        datasets: [
            {
                label: 'Температура',
            data: data1,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderWidth: 1
            }
        ]

    }

    ,
    options: {
            scales: {
                xAxes: [{
                    stacked: true,
            }],
            yAxes: [{
                    stacked: true
            }]
        }
            }
            });

    </script>