﻿@{
    ViewData["Title"] = "Расчёт тепловых потерь через многослойные цилиндрические стенки";
}

<div class="text-center">
    <p class="h1">Исходные данные</p>
</div>

<form name="resform" form action="/Home/Calc" method="post" class="text-center" onsubmit="return validate_form ( );">
    <div class=" ">

        <input type="number" class="letter form-control" name="tVnutri2" value="1100" min="700" max="1500"  step="0.1" lang="nb" placeholder="700" required title="Задайте температуру внутренней поверхности в промежутке между 700-1500 °С" >
        <p>Температура внутренней поверхности, °С (tвн)</p>


        <input type="number" class="letter form-control" name="tOkr2" value="21" min="21" max="25"  step="0.1", placeholder="21" required/>
        <p>Температура окружающей среды, °С (tокр)</p>

        <input type="number" class="letter form-control" name="r02" value="0.1" min="0,1" max="2"  step="0.01", placeholder="0,1"required/>
        <p>Внутренний радиус газохода, м</p>

        <input type="number" class="letter form-control" name="En2" value="0.8" min="0,1" max="1"  step="0.01", placeholder="0,8" required/>
        <p>Степень черноты, (En)</p>

        <input type="number" class="letter form-control" name="L2" value="2" min="0,1" max="5"  step="0.01", placeholder="2" required/>
        <p>Длина цилиндрической стенки, м (L)</p>
    </div>

    <p>Выберете количество слоёв для расчёта</p>
    <div class="form_radio_btn">
        <input checked="checked" id="layer2" name="layer" type="radio" value="2" />
        <label for="layer2">Два слоя </label>
    </div>
    <div class="form_radio_btn">
        <input id="layer3" name="layer" type="radio" value="3" />
        <label for="layer3">Три слоя</label>
    </div>
    <div class="form_radio_btn">
        <input id="layer4" name="layer" type="radio" value="4" />
        <label for="layer4">Четыре слоя</label>
    </div>
    <div class="form_radio_btn">
        <input id="layer5" name="layer" type="radio" value="5" />
        <label for="layer5">Пять слоёв</label>
    </div>

    <div>
        <select class="radiobutton" id="Material_1" name="Material_1">
            <option name="Material_1" value="1">Шамот легковес</option>
            <option name="Material_1" value="2">Динас легковес</option>
            <option name="Material_1" value="3" selected>Динас</option>
            <option name="Material_1" value="4">Шамот</option>
            <option name="Material_1" value="5">Диатомит кирпич</option>
        </select>
        <p>Материал первого слоя</p>


        <input type="number" class="letter form-control" name="thickness_1" value="0.2" min="0,1" max="1"  step="0.01", placeholder="0,2" required/>
        <p>Толщина первого слоя, м</p>


        <select class="radiobutton" id="Material_2" name="Material_2">
            <option name="Material_2" value="1">Шамот легковес</option>
            <option name="Material_2" value="2">Динас легковес</option>
            <option name="Material_2" value="3" selected>Динас</option>
            <option name="Material_2" value="4">Шамот</option>
            <option name="Material_2" value="5">Диатомит кирпич</option>
        </select>
        <p>Материал второго слоя</p>

        <input type="number" class="letter form-control" name="thickness_2" value="0.2" min="0,1" max="1"  step="0.01", placeholder="0,2" required/>
        <p>Толщина второго слоя, м</p>
    </div>

    <div class="ll divlayer3">
        <select class="radiobutton" id="Material_3" name="Material_3">
            <option name="Material_3" value="1">Шамот легковес</option>
            <option name="Material_3" value="2">Динас легковес</option>
            <option name="Material_3" value="3" selected>Динас</option>
            <option name="Material_3" value="4">Шамот</option>
            <option name="Material_3" value="5">Диатомит кирпич</option>
        </select>
        <p>Материал 3 слоя</p>

        <input type="number" class="letter form-control" name="thickness_3" value="0.2" min="0,1" max="1"  step="0.01", placeholder="0,2" required/>
        <p>Толщина 3 слоя, м</p>
    </div>

    <div class="ll divlayer4">
        <select class="radiobutton" id="Material_4" name="Material_4">
            <option name="Material_4" value="1">Шамот легковес</option>
            <option name="Material_4" value="2">Динас легковес</option>
            <option name="Material_4" value="3" selected>Динас</option>
            <option name="Material_4" value="4">Шамот</option>
            <option name="Material_4" value="5">Диатомит кирпич</option>
        </select>
        <p>Материал 4 слоя</p>

        <input type="number" class="letter form-control" name="thickness_4" value="0.2" min="0,1" max="1"  step="0.01", placeholder="0,2" required/>
        <p>Толщина 4 слоя, м</p>
    </div>

    <div class="ll divlayer5">
        <select class="radiobutton" id="Material_5" name="Material_5">
            <option name="Material_5" value="1">Шамот легковес</option>
            <option name="Material_5" value="2">Динас легковес</option>
            <option name="Material_5" value="3" selected>Динас</option>
            <option name="Material_5" value="4">Шамот</option>
            <option name="Material_5" value="5">Диатомит кирпич</option>
        </select>
        <p>Материал 5 слоя</p>

        <input type="number" class="letter form-control" name="thickness_5" value="0.2" min="0,1" max="1"  step="0.01", placeholder="0,2" required/>
        <p>Толщина 5 слоя, м</p>
    </div>



    <p> </p>
    <input type="submit" name="name" value="Рассчитать" />
</form>

<script>

    const radiolayer2 = document.getElementById("layer2")
    const radiolayer3 = document.getElementById("layer3")
    const radiolayer4 = document.getElementById("layer4")
    const radiolayer5 = document.getElementById("layer5")

    const divlayer3 = document.querySelector(".divlayer3")
    const divlayer4 = document.querySelector(".divlayer4")
    const divlayer5 = document.querySelector(".divlayer5")

    radiolayer2.addEventListener("click", function () {


        divlayer3.classList.add("ll")
        divlayer4.classList.add("ll")
        divlayer5.classList.add("ll")
    })


    radiolayer3.addEventListener("click", function () {
        divlayer3.classList.remove("ll")
        divlayer4.classList.add("ll")
        divlayer5.classList.add("ll")
    })


    radiolayer4.addEventListener("click", function () {
        divlayer3.classList.remove("ll")
        divlayer4.classList.remove("ll")
        divlayer5.classList.add("ll")
    })


    radiolayer5.addEventListener("click", function () {
        divlayer3.classList.remove("ll")
        divlayer4.classList.remove("ll")
        divlayer5.classList.remove("ll")
    })

    //const znachenia = document.querySelectorAll(".letter")
    //console.log(znachenia)
    //znachenia.forEach(input => {
    //    input.addEventListener("input", function (e) {
    //        const value = e.target.value
    //        if (isNaN(parseFloat(e.target.value))) {
    //            elem.value = '';
    //        }
    //    })
    //})

    //const xyz = document.querySelectorAll('.letter');
    //xyz.forEach((elem) => {
    //    elem.addEventListener('keyup', function (event) {
    //        if (isNaN(parseFloat(event.target.value))) {
    //            elem.value = '';
    //        }
    //    })
    //})

    //JQuery(document).ready(function ($) { $.fn.forceNumbericOnly = function () { return this.each(function () { $(this).keydown(function (e) { var key = e.charCode || e.keyCode || 0; return (key == 8 || key == 9 || key == 46 || (key >= 37 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 107 || key == 109 || key == 173 || key == 61); }); }); }; $("#tel").forceNumbericOnly(); });

    //function up(e) {
    //    if (e.value.indexOf(".") != '-1') {
    //        e.value = e.value.substring(0, e.value.indexOf(".") + 3);
    //    }
    //}

    //fun = function (input) {
    //    input.value = input.value.replace(/[.]/g, ",");
    //}
</script>