﻿
@{
    ViewData["Title"] = "О программе";
}

<h2>Информация о програмном продукте</h2>


<div class="div2 sentr">
    Выполнение проекта по модулю «Металлургические технологии» <br />
    <br />
    Версия 1.21.1.4<br />
    <br />
    Разработчик: Уланов Иван Сергеевич<br />
    Студент группы НМТ-383907<br />
    Кафедра «Теплофизики и информатики в металлургии»<br />
    ФГАОУ ВО «Уральский федеральный университет<br />
    имени первого Президента России Б.Н. Ельцина»<br />
    г. Екатеринбург, 2021 г.<br />
    <br />
    Руководитель:<br />
    доцент, к.т.н. Гурин Иван Александрович<br />
</div>

