﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #17167c;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.container h2, h1 {
    color: #0c3ece;
    text-align: center;
    font-size: 100%;
}
.h1 {
    font-size: 28px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.h3 {
    font-size: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.sentr {
    margin-left: auto;
    margin-right: auto;
}

.ll{
    display: none;
}

.letter {
    text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.radiobutton {
    width: 500px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
}

.form_radio_btn input[type=radio] {
        display: none;
    }

.form_radio_btn label {
        display: inline-block;
        cursor: pointer;
        padding: 0px 15px;
        line-height: 34px;
        border: 1px solid #999;
        border-radius: 6px;
        user-select: none;
    }

    /* Checked */
.form_radio_btn input[type=radio]:checked + label {
        background: #ffe0a6;
    }

    /* Hover */
.form_radio_btn label:hover {
        color: #666;
    }

.form_radio_btn input[type=radio]:disabled + label {
        background: #efefef;
        color: #666;
    }

.form-control {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
table {
    width: 100%;
}
th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
    text-align: center;
}

td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
    text-align: center;
}

tr:nth-child(2n) {
    background: #e8edff;
}


.div1 {
    width: 650px; /* Ширина первого слоя */
    text-align: center;
}

.div2 {
    width: 650px; /* Ширина первого слоя */
}